
p{
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    color: white;
}
#TOP{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#TOP td {
    height: 235px;
    width: 900px;
}
#TOP td img{
    height: 375px;
    width: 500px;
    box-shadow: none;
}

#LOGO img{
    width: 600px;
    /*height: 50%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}


#BOTTOM{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#BOTTOM td img{
    height: 375px;
    width: 500px;
    box-shadow: none;
    /*margin-right: 20px;*/
}

#PATH{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 400px;*/
    /*height: 200px;*/
    /*background: #eee;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
}

table {
    margin-right: 10px;
    border-spacing: 10px 2px;
}

#PATH td {
    height: 235px;
    width: 900px;
}

#PATH td img {
    height: 225px;
    width: 300px;
    box-shadow: none;
}

th {
    font-family: Verdana;
    font-size: 1em;
    font-weight: normal;
    color: #3c4543
}



